.header {
    display: grid;
    grid-template-columns: 2.5fr 1.1fr;
    grid-template-rows: 100%;
    gap: 8px 8px;
    grid-template-areas:
      "a b";
      background-color: lightblue;
  }

.header__left {
    grid-area:a;
    font-size: 4em;
    margin: 0 auto;
    margin-top: 5em;

}

.header__left > p {
    font-size: 15px;;
}

.header__right {
    grid-area:b;
}

.header__right__img >img {
    object-fit: cover;
    width: 100%;
}