.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr;
    gap: 8px 8px;
    grid-template-areas:
    "a b";
    font-weight: 200;
}

.navbar__left {
    grid-area:a ;
    background-color: rgb(245, 247, 246);;
    padding: 8px;
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.6em;
    
}

.navbar__right {
    grid-area: b;
    
    
}

.navbar__right > ul{
    list-style: none;
    display:flex;
    justify-content: space-evenly;
    padding: 8px;
    margin-top: 8px;
}